.error{
    color: crimson;
}

.load{
    color: #1f1fd1;
}

.detalhe{
    background-color: #3b71ca;
    border-radius: 10px;
}

.divcontent{
    margin-top: 0px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}