.divbody{
    min-width: 400px;
}

icon{
    background-color: #0c0c79;
    margin: 10px;
    padding: 8px;
    border-radius: 90px;
    border: 2px solid #4226b3;
    box-shadow: 3px 4px 5px 0px #42429f;
    font-size: 16px;
}

icon:hover{
    cursor: pointer;
    opacity: 0.7;
}

th{
    min-width: 200px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    min-width: 400px;
}

.button{
    margin: 40px 0px 25px 0px;
    background-color:#3b71ca;
    color: #fff;
    border: none;
    border-radius:10px;
    box-shadow: 3px 4px 5px 0px #42429f;
    padding-bottom: 5px;
    padding-top: 0px;
    width: 80px;
    height: 40px;
}

.button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.divcurrency{
    display: flex;
    justify-content: space-between;
    max-width: 168px;
}

.currency {
    color: #3b71ca;
}

.error{
    color: crimson;
}

.load{
    color: #1f1fd1;
}