.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0a1929;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  margin: 27px auto 0;
  position: relative;
  width: 390px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 180px;
}
a:nth-child(3) {
  width: 100px;
}
nav .start-1, a:nth-child(1):hover~.animation {
  width: 120px;
  left: 0;
  background-color: #1abc9c;
}
nav .start-2, a:nth-child(2):hover~.animation {
  width: 120px;
  left: 140px;
  background-color: #e74c3c;
}
nav .start-3, a:nth-child(3):hover~.animation {
  width: 120px;
  left: 276px;
  background-color: #3498db;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 29%;
  z-index: 100;
}